body {
  background-color: grey;
  Can I use a photo in replacement to a backround color?*/
  padding: 20;
  text-align: center;
  font-style: italic;
  font-size: 30;
  color: lightyellow;
}
.container {
    color: blue
}
#box-one {
    font-style: normal;
    background-color: lightblue;
    text-align: right;
    font-size: 30
}
#box-two {
    font-style: normal;
    background-color: orange;
    text-align: center;
    font-size: 50
}
#box-three {
    font-style: normal;
    background-color: lightblue;
    text-align: left;
    font-size: 30
}
#box-four {
    font-style: normal;
    background-color: lightyellow;
    text-align: center;
    font-size: 50
}
#box-five {
    background-color: orange;
    text-align: right;
    font-style: normal;
    font-size: 50
}
